$header-colour: #F28F3B;
$background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
$nav-desktop-colour: #588B8B;
$border-colour: #545149;
$shadow-grey: #bdbdbd;