header {
  width: 100%;
  height: 400px;
  position: relative;
  top: 120px;
  background-color: #b3844a;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
}

#avatar {
  position: absolute;
  width: 100%;
  height: 256px;
  top: 20px;
}

#avatar img {
  margin: 0 auto;
  display: block;
}

#display-name {
  position: absolute;
  width: 100%;
  height: 85%;

}

#display-name span {
  color: #FFFFFF;
  padding: 0 auto;
  text-align: center;
  font-size: 2em;
  bottom: 20px;
  position: inherit;
  width: 100%;
}