section.new-tweet {
  width: 100%;
}

section.new-tweet textarea {
  width: 100%;
  height: 3rem;
  background: transparent;
  outline: none;
  border: none;
  resize: none;
  border-bottom: 5px solid #545149;
}

section.new-tweet input {
  font-family: 'Bungee', sans-serif;
  color: #ffffff;
  background-color: #588B8B;
  border: none;
}

section.new-tweet .counter {
  font-family: 'Bungee', sans-serif;
  position: absolute;
  right: 0;
}

.isa_error {
  margin: 10px 0px;
  padding:12px;
  color: #D8000C;
  background-color: #FFD2D2;
}

#error-message p {
  margin: 0;
  display: inline;
}